.container{
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 7vh;
    display: flex;  
    align-items: center;
    border-bottom: 1px solid #f0f2f5 ;
}
.leftNavbar{
    width: 20vw;
}
.wrapContentLeftNavbar{
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.centerNavbar{
    width: 60vw;
    display: flex;
    justify-content: center;
}
.wrapCenterIcon{
    display: flex;
}
.rightNavbar{
    width: 20vw;
}
.wrapContentRightNavbar{
    padding-right: 2rem;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.seachInput{
    border: none;
    border-radius: 1rem;
    background-color: #f0f2f5;
    width: 100%;
    height: 2rem;
    padding-left: 2rem
}
.paddingIconSquare{
    padding: 10px 40px;
    font-size: 1.5rem;
}
.paddingIconSquare:hover{
    background-color: #f0f2f5;
}
.paddingIconSquare:active{
   border-bottom: 0.5rem solid #1877f2;
   color: #1877f2
}
.paddingIconCircle{
    padding: 0.5rem 0.5rem;
    margin: 0.2rem;
    border-radius: 100%;
    background-color: #f0f2f5;
}
.paddingIconCircle:hover{
    background-color: #e4e6eb;
}
.paddingIcon{
    padding: 10px 10px;
}
.iconFaceBook{
    color: #0c88ef;
    font-size: 2rem;
}
::placeholder{
    font-size: 1rem;
    color: #9094b4;
}
.searchBar{
    display: flex;
    position: relative;
}
.searchIcon{
    color: #9094b4;
    position: absolute;  
    top:0.5rem;
    left:0.5rem
}