*{
    font-size: 1.2rem;

}
.profileImage{
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px 10px;
    /* background-image:url("https://via.placeholder.com/150") ; */
    border-radius: 50%;
    
}
.profile{
    display: flex;
}

.stuff:hover{
    background-color: #e4e6eb;
}
.textProfile{
    padding: 10px;
    font-size: 1.2em;
    /* width: 10vw; */
}
.stuff{
    font-size: 5rem;
    /* max-width: 20vw; */
    /* border-radius: 1rem; */
    padding: 0rem 1rem;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}

.HomePage{
    width: 100vw;
    margin-top: 7vh;
    display: flex;
     background-color: #f0f2f5;

}
.leftHomePage{
   
    flex-grow: 1;
    /* grid-column: 1; */
}
.centerHomePage{
    flex-grow: 3;
    /* margin-top: 1rem; */
    /* grid-column: 2 /5; */

}
.rightHomePage{
    flex-grow: 1;

    /* grid-column: 5; */
    /* overflow-y: scroll;
    height: 100%; */
}
.wrapLeftContentHomePage{
     
    position: fixed;
    width: 18vw;

    overflow-y: scroll;
    height: 100%;
    /* background-color: #f0f2f5;
     */
     /* background-color: #f0f2f5; */
    padding: 10px;
}
.wrapRightContentHomesPage{
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    /* background-color: #f0f2f5; */
}
.post{
    margin-top: 1rem;
    width: 40vw;
    padding: 1rem;
    box-shadow:.4px .4px 12px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: .5rem;
}
.centerHomePage{
    display: flex;
    justify-content: center;
    background-color:#f0f2f5 ;
}
.topPost{
    display: flex;
    justify-content: space-between;
}
.bottomPost{
    display: flex;
    justify-content: space-between;
}
.wrapFlex{
    display: flex;
    justify-content: space-around;
}
.buttonCreatePost{
    width: 35vw;
    border: none;
    border-radius: 2rem;
    color: #dddfe2;
    text-align: start;
    padding-left: 1rem;
}
.buttonCreatePost:focus{
    outline: none;
}

.postContent{
    width: 100%;
    height: 20vh;
}


.overlay{
    background: rgba(243, 243, 244, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0rem;
    left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center; 
 }
.createPost{
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow:0rem 0rem 1rem black;
    background-color: white;
    width: 30vw;
    height: 50vh;
    text-align: center;
}
/* /////global */
.noBoder{
    border: none;
}
.noOutlineFocus:focus{
    outline:none ;
}   
.postButton{
    width: 100%;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 1rem;
}
.postButtonUnEnable{
    width: 100%;
    background-color: #e4e6eb;
    color: white;
    border: none;
    border-radius: 1rem;
}
.exitCreatePost{
    position: absolute;
    color: #757b83;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    border: none;
}
.exitCreatePost:focus{
    outline: none;
}
.emojiPanel{
    position: absolute;
    top: -4rem;
    right: -4rem;;
}
.emojiIcon{
    position: absolute;
    bottom: 8rem;
    right: 3rem;
}
.thumbUps{
    max-width: 20vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
}

.thumbUps:hover{
  /* background-color: rgba(0, 0, 0, 0.16) */
}
.thumbUps:active{
    /* transform: scale(0.8,0.8); */
    transition: 0.5s;
}
@keyframes Rotate {
    from {
      /* transform: rotate(0deg); */
    }
    to {
        transform: rotate(-20deg);
    }
  }
.activeThumbUps {
    max-width: 20vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color:rgb(32, 120, 244);
    animation-duration: 1s;
    animation-name: Rotate;
    animation-iteration-count: 1;
}
.activeLike{
    max-width: 20vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color:rgb(32, 120, 244);
    
}
.like-group{
    display: flex;
    padding: .5rem;
}
.like-group:hover{
    background: linear-gradient(90deg, rgba(227,227,232,1) 0%, rgba(227,227,232,1) 35%, rgba(227,227,232,1) 100%);
}