::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9094b4;
    opacity: 1; /* Firefox */
  }
button{
    cursor: pointer;
}
.loginScreen{
    color: #4b4f56;
    padding: 50px 300px;
    display: flex;
    justify-content: space-around;
    background-color: #f0f2f5;
}

.wrapAccounts{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}
.loginForm{
    width: 400px;
    /* border: 1px solid black; */
    height: 350px;
    margin-top: 2rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: white;
}
.account{
    cursor: pointer;
    position: relative;
    background-color: white;
    width: 160px;
    height: 220px;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    /* margin-right: 1rem;
    margin-bottom: 1rem; */
    margin: 1rem 1rem 1rem 0rem;
    text-align: center;

}
.account:hover{
    box-shadow:0rem 0rem 1rem black;

}
.account:hover .deleteAccount{
   top:-0.5rem;
   left: -0.5rem;
   color: white;
}
.textInput{
    /* color:#9094b4; */
    margin:10px 0px;
    padding:10px 10px;
    /* border: none; */
    border: 1px solid #dddfe2 ;
    border-radius: 0.5rem ;
}
.textInput:focus{
    border:1px solid royalblue;
}
.textInPutERR{
    margin:10px 0px;
    padding:10px 10px;
    /* border: none; */
    border: 1px solid red ;
    border-radius: 0.5rem ;
}
.errString{
    color: red;
    font: 0.5em sans-serif;
}
input:focus{
    outline: none;
}
.submitButton{
    background-color:#1877f2;
    color: white;
    border-radius: 0.5rem;
    margin:10px 0px;
    border: none;
}
.submitButton:active,:focus{
    outline: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: #1877f2;
}
a:hover{
    text-decoration: underline;
}
.createButton{
    background-color: #42b72a;
    color: white;
    width: 250px;
    margin:20px 0px;
    padding:10px 0px;
    align-self: center ;
    border-radius: 0.5rem;
    border: none;
}
.backgroundImage{
    width: 160px;
    height: 160px;
   border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.deleteAccount{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
.horizontalLine{
    height: 1rem;
    border-bottom: 1px solid #dddfe2;
}
.line{
    border-top: 1px dashed red;
}
.logoFB{
    position: relative;
    left: -1rem;
    width: 198px;
    height: 70px;
}